<div id="user-data" data-id="<%= current_user.id %>"></div>

<div id="game">
  <div id="controls">
    <button id="play">New Game</button>
    <button id="resign">Resign</button>
  </div>
  
  <div id="board"></div>
  
  <div id="sideboard">
    <div id="whiteplayer">
      <div class="name">White</div>
      <div class="time">00:00</div>
    </div>
    <div class="buffer"></div>
    <div id="blackplayer">
      <div class="name">Black</div>
      <div class="time">00:00</div>
    </div>
  </div>
</div>

<script>
  ChessBoard('board', {position: 'start', pieceTheme: '/assets/wikipedia/{piece}.png'});
</script>