// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#controls {
  float: left;
  width: 150px;
  
  button {
    padding: 5px 10px;
    background-color: #098B51;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
  button[disabled] {
    background-color: #585858;  
  }
}

#game {
  width: 800px;
  margin : 30px auto;
  
  #board {
    width: 400px;
    height: 400px;
    position: relative;
    float: left;
  }
}

#sideboard {
  width: 150px;
  height: 396px;
  position: relative;
  float: left;
  background-color: #e6e6e6;
  
  #whiteplayer, #blackplayer {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .time {
    border: 1px solid #000;
    background-color: #fff;
    font-size: 32px;
    width: 98%;
    margin: 0 auto;
  }
  
  .name {
    width: 100%;
    font-size: 18px;
    margin-bottom: 2px;
  }
  
  .buffer {
    clear: both;
    height: 272px;
    margin: 0 0;
  }
}